.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;

  &:hover {
    color: #007bff;
  }
}
